@charset "UTF-8";


:root{
  --var-cor1: #AFE2FF;
  --var-cor2:#81CCF7;
  --var-cor3:#489CCD;
  --var-cor4:#1A5F87;
  --var-cor5:#024D78;





}
body{
    background-color:var(--var-cor4);
    color: white;
   
}
header{
  background-color: var(--var-cor3);
  padding:10px;
  margin: -8px;

}
header>h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
    text-align: center;
}
main{
  background-color: white;
  color: black;
  margin: auto;
  padding: 8px;
  border: 1px;
  margin-top: 10px;
  min-width:300px;
  max-width: 1000px;
  border-radius: 6px;
  box-shadow: 5px 5px 6px black;
 
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 7px;
    min-width:300px;
    max-width: 1000px;
    margin: auto; 
    border-radius: 10px;
    
   

  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 3px;
    font-size: 30px;
   margin:3px;
   border:auto;
   border-radius: 10px;
   text-align: center;
   min-height: 30%;
   max-height: 100%;
   min-width: 30%;
   max-width: 100%;
   
    
  }
  .grid-item>a>img{
    
    width: 100%;
    height: 100%;
border-radius: 10px;}


 
  footer{
    background-color: var(--var-cor3);
    border-radius: 5px;
    padding: -1px 4px;
    margin: auto;
    text-align: center;
    height: 100%;
   
    
  }
  section{
    
    padding: 10px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow:  4px 4px 8px black;
    background-color: var(--var-cor2);
    margin-top: 15px;
    
  }
  section>ul{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display:inline-block;
    padding: 10px;
    margin: auto;
   
  }
  section>ul>li{
    padding-left:  30px;
    margin: auto;
  }
  section>ul>li>a{
  
  text-decoration: none ;
  color: darkblue;
  
  }
  section>ul.redes>li{
    display: inline-flex;
    padding: 10px;
  }
  
main{
    padding: 10px;
    margin: auto;
}  
